In [9]:
from faker import Faker
from faker.providers import DynamicProvider #python docs Faker modul...
import pandas as pd
import random

#make sure you have the same random values as vrbdy else
Faker.seed(42)
fake = Faker(['de_DE'])# if you want more than one then need list
fake.seed_instance(42)
random.seed(42)
# own Faker_func_creator
company_departments_provider = DynamicProvider(
    provider_name='company_department',
    elements=['IT', 'Buchhaltung', 'Vertrieb', 'Kunden_service', 'Dozent']
)
fake.add_provider(company_departments_provider)
# values for the DataFrame
names = [fake.name() for x in range(10)]
salary = [random.randint(10_000, 100_000) for x in range(10)]
department = [fake.company_department() for x in range(10)]
# i like to create dict`s for the df
data = {'namen' : names,
       'gehalt' : salary,
       'abteilung': department} 
df.to_csv('Employe_list.csv', index=False)
#finally the data to play with
df = pd.DataFrame(data)

In [6]:
df

                                   namen  gehalt    abteilung
0                     Aleksandr Weihmann   93810           IT
1                          Eleni Hauffer   24592           IT
2                        Paul Dobes-Stey   13278     Vertrieb
3                         Klemens Löchel   46048  Buchhaltung
4                       Alexandre Davids   42098  Buchhaltung
5                    Eric Pärtzelt B.Sc.   39256  Buchhaltung
6                        Orhan Seip MBA.   28289           IT
7  Dipl.-Ing. Klaus-Werner Holsten B.Sc.   23434       Dozent
8                 Univ.Prof. Heimo Karge   98696           IT
9                          Carolin Hande   81482       Dozent

In [10]:
df_neu = pd.read_csv('Employe_list.csv')

In [11]:
df_neu

                                   namen  gehalt    abteilung
0                     Aleksandr Weihmann   93810           IT
1                          Eleni Hauffer   24592           IT
2                        Paul Dobes-Stey   13278     Vertrieb
3                         Klemens Löchel   46048  Buchhaltung
4                       Alexandre Davids   42098  Buchhaltung
5                    Eric Pärtzelt B.Sc.   39256  Buchhaltung
6                        Orhan Seip MBA.   28289           IT
7  Dipl.-Ing. Klaus-Werner Holsten B.Sc.   23434       Dozent
8                 Univ.Prof. Heimo Karge   98696           IT
9                          Carolin Hande   81482       Dozent